@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

body {
	font-family: 'Reggae One', cursive;
	background-color: black;
	color: white;
	background-repeat: no-repeat;
	/* background-size: cover; */
}

.btn {
	color: black;
}
